::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }


h1 {
  border-left: solid 15px #212529;
  padding-left: 10px;
}
/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  /* left: 0; */
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

/* .post-content {
  height: calc(100vh - 167px);
} */

.sidebar-sticky {
  position: relative;
  top: 0;
  /* height: calc(100vh - 112px); */
  /* height: calc(100vh - 178px); */
  /* height: calc(100vh - 167px); */
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-sticky .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar-sticky .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar-sticky .nav-link.active {
  color: #007bff;
}

#sidebarMenu .nav-link:hover,
#sidebarMenu .nav-link.active {
  color: #007bff;
}


.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/* .nav-item a:active {
  background-color:#007bff;
  color:#fff;
} */

.subject {
  padding:.2rem 1rem .1rem 1rem;
}

.subject:hover {
  background-color:#f8f9fa;
}

/* 환경 설정 제목 div 요소 */
.setting_title {
  border-left: solid #343a40;
  border-left-width: 10px;
  padding-left: 10px;
}

/* 주제이름 수정 input 요소 */
.subject_input {
  border:none;
  font-size:.75rem;
  background-color: inherit;
  width: 150px;
}

.form-control:focus {
  background-color:inherit;
}

.account-info {
  font-size:.75rem;
}

.comment-icon:hover {
  color : #0d6efd
}

.fold {
  color : grey;
  text-decoration : underline;
}

.fold:hover {
  color : darkslategrey;
  text-decoration : underline;
}

.sub_menu {
  color:#575757;
  font-size:.75rem;
  font-weight: bold;
}

/* 포스트 정보 스타일 */
.info_text {
  font-size:.75rem;
}

#toast_message {
  z-index: 999999;
}

.toast-body {
  font-size:.75rem;
}

.sub_menu:hover {
  color:#007bff;
}

.selected {
  background-color:#DCF2EA;
}

/* 댓글 비밀번호 확인창 */
.comment_pw_check {
  display: none;
}

/* 수정 댓글 저장 버튼*/
.comment_modify_save_btn {
  display: none;
}

  /*말줄임*/
.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	/* line-height: 20px;
	height: 20px; */
}

/* 댓글에 대한 댓글 등록 요소 스타일 */
.comment_reply {
  display: none;
  background-color: #eef1f5;
}

/* 댓글에 대한 댓글 내용 영역 스타일 */
.comment_reply_content {
  background-color: #eef1f5;
}

/* sub_subject_statics 스타일 */
/* .sub_subject_statics {
  display: none;
} */
/* ------------------------
 * datepicker 스타일 커스텀
 ------------------------*/
/* 배경 표시 */
.ui-datepicker {
  font-size: .75rem;
}

/* (상단 해더)뒤로 앞으로 화살표 버튼 , 년,월 텍스트 표시 */
.ui-datepicker-header {
  font-size: .75rem;
}

/* (상단 해더) 년,월 표시 */
.ui-datepicker-title {
  font-size: .75rem;
}

/* (달력)달력 표시 배경 */
.ui-datepicker-calendar {
  font-size: .75rem;
}

/* (달력 첫 행)달력 요일 표시 */
.ui-datepicker-calendar th{
  font-size: .75rem;
}

/* 요일 표시 */
/* .ui-datepicker-week-end {
  font-size: .75rem;
} */

/* (이번달 날짜) 선택 가능한 날짜 표시 */
.ui-state-default {
  font-size: .75rem;
}
/* (이전달 또는 다음달 날짜) 선택 불가능한 날짜 표시 */
.ui-datepicker-other-month {
  font-size: .75rem;
}

/* 이전 달 버튼 */
.ui-datepicker-prev {
  font-size: .75rem;
}
/* 이후 달 버튼 */
.ui-datepicker-next {
  font-size: .75rem;
}
/* 일 표시 */
/* .ui-datepicker table {
  font-size: .5rem;
} */

/* animated icon */
/* 휴지통 아이콘*/

/* icon container */
.comment_icon_div {
  margin: 0 0 3px 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
}

/* trash_body */
.trash {
  width: 100%;
  height: 70%;
  content: url( "/img/trash_body.svg" );
  margin:0 auto;
}

.trash_cap_wrap {
  margin-bottom: 20px;
}

/* trash_cap */
.trash_cap {
  position: absolute;
  cursor: pointer;
  width: 16px;
  margin-bottom: 20px;
  content: url( "/img/trash_cap.svg" );
  -webkit-transform: rotate(-0deg);
  -ms-transform: rotate(-0deg);
  transform: rotate(-0deg);
  transition: transform 250ms;
  /* 2d animation 변화 기준점 설정 :  x-axis y-axis;  % 또는 px값으로 설정이 가능한다.*/
  transform-origin: 0 5px;
}

.trash_cap:active{
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: transform 250ms;
}

.trash_cap:hover {
  content: url( "/img/trash_cap_hover.svg" );
}

/* scrollbar customize */
body::-webkit-scrollbar {
  width: 8px;  /* 세로축 스크롤바 길이 */
  height: 8px;  /* 가로축 스크롤바 길이 */
}

div::-webkit-scrollbar {
  width: 8px;  /* 세로축 스크롤바 길이 */
  height: 8px;  /* 가로축 스크롤바 길이 */
}

textarea::-webkit-scrollbar {
  width: 8px;  /* 세로축 스크롤바 길이 */
  height: 8px;  /* 가로축 스크롤바 길이 */
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

div::-webkit-scrollbar-track {
  background-color: transparent;
}

textarea::-webkit-scrollbar-track {
  background-color: transparent;
}
/* body::-webkit-scrollbar-track-piece {
  background-color: gray;
} */
body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}

div::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgb(123, 167, 207);
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #007bff;
}

body::-webkit-scrollbar-button {
  /* background-color: darkblue; */
  width: 0;
  height: 0;
}

div::-webkit-scrollbar-button {
  /* background-color: darkblue; */
  width: 0;
  height: 0;
}

textarea::-webkit-scrollbar-button {
  /* background-color: darkblue; */
  width: 0;
  height: 0;
}

/* Top, Left 방향의 이동버튼 */
/* body::-webkit-scrollbar-button:start {
  background-color: red; 
} */
/* Bottom, Right 방향의 이동버튼 */
/* body::-webkit-scrollbar-button:end {
  background-color: orange; 
} */
/* ::-webkit-scrollbar-button:vertical:increment {
}
::-webkit-scrollbar-button:vertical:decrement {
} */
/* 우측 하단의 코너 부분 */
/* body::-webkit-scrollbar-corner {
  background-color: violet; 
/* } */
/* body::-webkit-resizer {
  background-color: green;
} */

/* 이미지 요소 스타일 */
.img-fluid {
  border: solid 0.5px lightgray;
}

/* 동일 주제 포스트 목록 */
.sibling_posts {
  list-style : none;
  margin : 0;
  padding : 0;
}

@media all and (min-width:768px) and (max-width:1080px) {
    
}
/* '모든 디바이스 & 최소 너비가 768 이상 & 최대 너비가 1080 이하'라는 조건을 모두 만족할 때 */


@media (min-width:1200px) {

}

@media (min-height: 680px), screen and (orientation: portrait) {

}
/* '최소 높이가 680 이상'이거나 '세로 모드의 스크린 기기' 중 하나를 만족하는 경우에 적용*/
